.vscode
3*
~dist
~sample_input_config
Backup
classes
clir_test
DataStoreWorkDir
DataStoreWorkDir-for-new-indexer
demo
dist*
Indexing-info
resources/TestData
sample_input_config
src-JHU
Sync-data*
test*
push_tigerfish.sh
cleanupTestCorp.sh